<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Homepage</title>
    <link rel="stylesheet" href="styles.css">
    <script defer src="https://apis.google.com/js/api.js"></script>
    <script defer src="https://appsforoffice.microsoft.com/lib/1/hosted/office.js"></script>
    <script defer src="script.js"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}" />
    <script src="{{ url_for('static', filename='js/scripts.js') }}"></script>

</head>
<body>
    <h1>My Homepage</h1>
    <a href="/subpage">Go to the subpage</a>
    <a href="/csv_to_sql">Go to the CSV to SQL page</a>
    <a href="/process_text">Process Text</a>
    <a href="/sort_urls">Sort URLS</a>
    <a href="/view_data">View Data</a>    
    <div id="bookmarks">
        <h2>Bookmarks</h2>
        <!-- Add your bookmarks here -->
        <a href="http://192.168.1.68:3666/">MolloyNet</a>
        <a href="http://192.168.1.68:3666/">MolloyNet</a>
        <a href="http://192.168.1.68:3666/">MolloyNet</a>        
        <a href="http://192.168.1.68:3666/">MolloyNet</a>        
        <a href="http://192.168.1.68:3666/">MolloyNet</a>        
        <a href="http://192.168.1.68:3666/">MolloyNet</a>
        <a href="http://192.168.1.68:3666/">MolloyNet</a>        
        <a href="http://192.168.1.68:3666/">MolloyNet</a>
    </div>
</body>
</html>
